<h1 align="center" class="display-3">
   elAwayo Store
</h1>
<br>
<div class="container rounded border" style="background-color: rgb(232, 232, 232);">
    <br>
    <h2 align="center">Consume lo nuestro, lo boliviano</h2>
    <br>
    <div class="container info justify-content-center">
        <span class="lead">{{info}}</span>
    </div>
    <br>
</div>
<br>
<div class="container-fluid rounded border cont" style="background-color: rgb(232, 232, 232);">
    <br>
    <h2 align="center">Consume lo nuestro, lo boliviano</h2>
    <br>
    <div class="row">
        <div class="col-6">
            <div class="container info justify-content-center">
                <span class="mdfont lead">{{info}}</span>
            </div>
        </div>
        <div class="col-6">
            <img id="pl" src="assets/placeholder.png">
        </div>
    </div>
    <br>
</div>